
.form {
    display: flex;
    flex-direction: column;
  }
  
  .fields {
    display: flex;
    justify-content: space-around;
  }
  .postsFields {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    width: 400px;
    
  }
  .postsFields input {
   margin-bottom: 10px;
  }
  
  .categoryFields {
    margin: 20px;
    height: 140px;
    padding: 15px;
    background-color: rgb(199, 255, 221);
  }
  .addCategory {
    display: flex;
    width: 300px;
  }
  .createArea {
    /* box-shadow: 0px 10px 15px black; */
    margin: 10px;
  }
  .btn {
    width: 200px;
    margin: 10px auto;
	display: flex;
  }
  