
.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.349);
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


